<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="jumbotron text-center">
        <h2>Calculate Fixed Deposit Interest</h2>
        <form class="form-inline">
            I want to deposit
            <div class="form-group">
                <label for="email">Rs. </label>
                <input type="number" class="form-control" id="amount" placeholder="eg. 10000" ng-model="amount">
            </div>
            <div class="form-group">
                <label for="pwd">at </label>
                <input type="number" class="form-control" id="rate" placeholder="eg. 10" ng-model="rate"> %
            </div>
            <div class="form-group">
                <label for="pwd">for </label>
                <input type="number" class="form-control" id="time" placeholder="eg. 3" ng-model="time"> months.
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-success" ng-click="calculate()">Calculate</button>
        </form>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h3>In 3 months, you will receive Rs. {{interest_3}}</h3>
                <h3>In 6 months, you will receive Rs. {{interest_6}}</h3>
                <h3>In 1 year, you will receive Rs. {{interest_12}}</h3>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.interest_3 = 0;
        $scope.interest_6 = 0;
        $scope.interest_12 = 0;

        $scope.calculate = function () {
            if ($scope.rate == 0) {
                alert("Rate cannot be 0.");
                return false;
            }
            var annualInterest = ($scope.rate / 100) * $scope.amount;
            var monthlyInterest = annualInterest / 12;
            $scope.interest_3 = monthlyInterest * 3;
            $scope.interest_6 = monthlyInterest * 6;
            $scope.interest_12 = monthlyInterest * 12;
        }
    });
</script>